config I2C_SI4709
	tristate "Silicon Labs Si4709 FM Radio Receiver support with I2C"
	depends on I2C && RADIO_SI4709
	---help---
	  This is a driver for I2C devices with the Silicon Labs SI4709
	  chip.

	  Say Y here if you want to connect this type of radio to your
	  computer's I2C port.

	  To compile this driver as a module, choose M here: the
	  module will be called radio-i2c-si4709.
